<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.ansboard">
	<select id="daum" resultType="AnswerDto">
		 SELECT SEQ, ID, TITLE, CONTENT, REGDATE, REFER, STEP, DEPTH 
				 ,READCOUNT, DELFLAG FROM ANSWERBOARD 
				  ORDER BY REFER DESC , STEP 
	</select>
	
	<select id="boardlist" resultType="AnswerDto">
		 SELECT SEQ, ID, TITLE, CONTENT, REGDATE, REFER, STEP, DEPTH 
				 ,READCOUNT, DELFLAG FROM ANSWERBOARD 
				  ORDER BY REFER DESC , STEP 
	</select>
	
	<insert id="insertboard" parameterType="AnswerDto">
		 INSERT INTO ANSWERBOARD 
				 (SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DELFLAG,V_ORINAME,V_SAVENAME,V_FILESIZE,V_REGDATE) 
				 VALUES
				 (ANSWERBOARD_SEQ.NEXTVAL,'15queue',#{title},#{content},SYSDATE,0,0,0,0,'N',#{originalName},#{filename},#{filesize},SYSDATE) 
	</insert>
	
	
	<select id="readcount" parameterType="int">
		UPDATE ANSWERBOARD SET READCOUNT=READCOUNT+1 WHERE SEQ=#{seq}
	</select>
	<select id="detailboard" resultType="AnswerDto" parameterType="int">
		SELECT SEQ, ID, TITLE, CONTENT, REGDATE, REFER, STEP, DEPTH 
				  ,READCOUNT, DELFLAG FROM ANSWERBOARD 
				  WHERE SEQ=#{seq} 
	</select>
	
	<update id="updateboard" parameterType="AnswerDto">
		UPDATE ANSWERBOARD SET TITLE=#{title},CONTENT=#{content}, REGDATE=SYSDATE
				  WHERE SEQ=#{seq}
	</update>
<!-- 	동적쿼리 사용할때는 파라미터를 Map으로 전달해야 함 -->
	<update id="muldel" parameterType="Map">
		UPDATE ANSWERBOARD SET DELFLAG='Y' WHERE SEQ IN 
		<foreach collection="seqs" item="seq" open="(" close=")" separator="," >
			#{seq}
		</foreach>
	</update>
	
	<update id="ansupdate"  parameterType="AnswerDto">
		UPDATE ANSWERBOARD SET STEP=STEP+1 
				 WHERE REFER=(SELECT REFER FROM ANSWERBOARD WHERE SEQ=#{seq} ) AND 
				 STEP > (SELECT STEP FROM ANSWERBOARD WHERE SEQ=#{seq} )
	</update>
	
	<insert id="ansinsert" parameterType="AnswerDto">
		 INSERT INTO ANSWERBOARD VALUES( 
				  ANSWERBOARD_SEQ.NEXTVAL,#{id},#{title},#{content},SYSDATE, 
				 (SELECT REFER FROM ANSWERBOARD WHERE SEQ=#{seq}), 
				  (SELECT STEP FROM ANSWERBOARD WHERE SEQ=#{seq})+1, 
				   (SELECT DEPTH FROM ANSWERBOARD WHERE SEQ=#{seq})+1, 
				 0,'N') 
	</insert>
	<select id="getBoardAjax" parameterType="int" resultType="AnswerDto">
	SELECT SEQ, ID, TITLE, CONTENT, REFER, STEP, DEPTH 
				  ,READCOUNT, DELFLAG FROM ANSWERBOARD 
				 WHERE SEQ=#{seq}
				
	</select>	
	
	
	
</mapper>
